div.clock{
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid red;
    color: red;
    background-color: #550000;
    width: 500px;
    font-size: larger;
    padding: 1em;
    margin: 1em auto;
}